{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="password">
    <form action="/password" method="post">
        <div class="form-group mt-3">
            <input autocomplete="off" autofocus class="form-control" name="oldpass" placeholder="Old Password" type="password">
        </div>
        <div class="form-group mt-3">
            <input class="form-control" name="newpass" placeholder="New Password" type="password">
        </div>
        <div class="form-group mt-3">
            <input class="form-control" name="confirm" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-secondary mt-3" type="submit">Submit</button>
    </form>
</div>
{% endblock %}